


div#root{

  width:unset;
  background-color: #36454F;

}

body{
  
  background-color: #36454F;

}


nav{
  width: unset;
  border-style: double;
  border-radius: 5px;
  background-color: white;
  max-height: min-content;

}

div{

  border-radius: 5px;
  background-color: white;




}

button{


  border-radius: 5px;
  margin: 5px;
  



}

h1{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 5px;
  grid-area: header;
}

p{
  margin: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-bottom: 5%;
}

input{
  margin: 5px;
  margin: 5px;
  border-style: double;
  border-color: black;
  border-width: 1px;

}

form{
  
  
  margin: 5px;
  margin: 5px;
  border-style: double;
  border-color: black;
  border-width: 1px;
  border-radius: 5px;
  display: grid;

}

a{

  margin: 10px;
  display: inline-block;
  line-height: normal;

}


@media only screen and (max-width: 420px) {

  nav{

    display: inline-flex;

  }



  input{

  width: 90%;

  }

  h1{

    font-size: 25px;
  
  }



  form{
  
  
  margin: 5px;
  margin: 5px;
  border-style: double;
  border-color: black;
  border-width: 1px;
  border-radius: 5px;
  display: grid;

  }
}