h1{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}


.main{
  display: grid;
  grid-template-columns: auto auto auto 35%;
  grid-template-rows: auto;
  grid-template-areas:
    "header header header header"
    "mainu mainu mainu notes"
    "mainl mainl mainl notes"
    "footer footer footer footer"
}


.inputs{
  grid-area: mainu;
  margin: 5px;
  border-style: solid;
  border-color: black;
  border-width: 1px;
}

.apps{
  grid-area: mainl;
  margin: 5px;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  padding: 5px;

}


.root{
  border-style: dashed;
  border-color: black;
  
}



.inputcontainer{
  display: grid
}





.cards{
  display: flex;
  flex-wrap: wrap;
  column-gap: 1rem;
  row-gap: 1rem;
  padding-bottom: 10px;
}

.appcard{

  max-width: max-content;
  border-style:double;
  border-color: blue;
  padding: 5px;
  box-shadow: 3px 3px;
}

.appcard:hover {

  transform: translate(3px, 3px);
  box-shadow: none;
  

}

.notes{
  grid-area: notes;
  border-style:solid;
  border-color: black;
  margin: 5px;
}

button{

  margin: 5px;

}

.navbar{

  grid-area: header;
  border-style: double;

}

a{

  margin: 10px;
  display: inline-block;
  line-height: normal;

}

.addNote{

  grid-area: notes;
  max-height: 20px;

}